@charset "utf-8";
/*reset*/
a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,tfoot,th,thead,time,tr,ul,var,video {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
}
*:before,*:after { 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
html,body{ 
  height:100%;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
html{
  font-size:7.6666666vw;
}
body{
  -webkit-overflow-scrolling: touch;
  font-size:12px;
  line-height: 1;
  min-width: 320px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
  display:block;
}
audio,canvas,progress,video{
  display:inline-block;
  vertical-align:baseline;
}
audio:not([controls]){ 
  display:none;
  height:0;
}
a{ 
  background:transparent;
  text-decoration:none;
}
a:active{ 
  outline: none;
}
blockquote,
q {
  quotes: none;
}
b,strong{ 
  font-weight:normal;
}
em, i{
  font-style: normal;
}
small, big{ 
  font-size:100%;
}
img{ 
  border:0;
  vertical-align:middle;
  max-width: 100%;
}
svg:not(:root){ 
  overflow:hidden;
}
button,input,select{
  -webkit-appearance:none;
  cursor:pointer;
  border: none;
}
textarea{
  overflow:auto;
  resize:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
ul,ol,li{
  list-style:none;
}
input::-moz-placeholder,textarea::-moz-placeholder{
  color:#ccc;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
  color:#ccc;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  color:#ccc;
}
/* 浮动 */
.fl { float: left; }
.fr { float: right; }
.clearfix:after{
  content:"";
  display:block;
  width:100%;
  height:0;
  clear:both;
}
.clearfix {
  zoom: 1;
  /* for IE6 IE7 */
}
/*1px边框*/
.onepx {
  position: relative;
}
.onepx::before {
  content: '';
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
/* 单行省略 */
.ellipsis{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	-webkit-text-overflow:ellipsis
}
/* 多行省略 */
.elli-two{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}